
.container {
  display: flex;
}

.left {
  border: 1px dotted black;
  margin: 10px 5px 10px 10px;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex: 50%;
  flex-direction: column;
}

.right {
  border: 1px dotted black;
  margin: 10px 10px 10px 5px;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex: 50%;
  flex-direction: column;
}

.map {
  border: 5px solid #faa627;
  height: 800px;
}

.stats {
  margin: 5px 0px 5px 0px;
  padding: 0px 5px 0px 5px;
  background-color: #ECEAEC;
}

.highlight-selected {
  background-color: #9ABAC9;
}

.highlight-other {
  background-color: #FAA627;
}

.leaflet-tooltip-bottom.distance-map-label::before {
  border-bottom-color: transparent;
}

.leaflet-tooltip.distance-map-label {
  border: none;
  border-radius: 40px;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: none;
  background-color: rgba(250, 166, 39, 1);
  color: #000000;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1em;
}
